@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-gradient {
  background: linear-gradient(
    179.14deg,
    rgba(32, 18, 63, 0) -7.14%,
    #000000 87.01%
  );
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8);
}


.pagination-block{
  position: fixed;
  bottom: 0px;
  margin: 10px;
  width: calc(100% - 160px);
}

.pagination-block .current-page{
  color: rgb(39, 95, 39);
}

.signup-label{
  transition: color 1s;
}

.box-shadow {
  box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0.279), 0 8px 10px -6px rgb(0 0 0 / 0.1);;
}

.box-shadow-large {
  box-shadow: 0 0px 30px 0px rgba(0, 0, 0, 0.164), 0 8px 10px -6px rgb(0 0 0 / 0.1);;
}


.box-shadow-icon {
  box-shadow: 0 0px 30px -5px rgba(0, 0, 0, 0.315), 0 8px 10px -6px rgb(0 0 0 / 0.1);;
}
